/* Page Top */

#pagetop{
    width: 100%;
    height: auto;
    top:0;
    position: relative;
    padding:0;
}

#pagetop .pagetop_inner{
    width: 100%;
    height: auto;
    max-width: 1170px;
    margin:0 auto;
    padding-top: 8px;
    /* padding: 0px 15px; */
}

#pagetop p{
    padding:0;
    margin:13px 0 12px;
    font-size:12px !important;
    line-height: 17px;
}

#pagetop p.topbar-text-socials {
    float: left;
    margin-right: 20px;
}

#pagetop a{
    display: block;
    float: left;
    margin:0;
    padding:0px 8px;
    font-size: 14px;
    text-align: center;
    width: 40px;
    height: 100%;
    line-height: 42px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    background: none;
    border-radius: 0;
    opacity: 1;
}

.dark-layout #pagetop {
    border-bottom: 1px solid #212121;
    background: #1f1f1f;
}

#pagetop .topbar-section {
    display: inline-block;
}

#pagetop .socials,
#pagetop .texts{
    height: 40px;
}

#pagetop a:hover{
    color:white !important;
}

.topbar-text {
    font-size: 16px
}

/* Pagetop White Styles */

#pagetop {
    /* border-bottom:1px solid #efefef; */
}

#pagetop.white-pagetop p{
    color:#a0a0a0;
}

#pagetop.white-pagetop a{
    color:#cbcbcb;
    /* border-left:solid 1px #efefef; */
}
#pagetop a:last-child{
    /* border-right:solid 1px #efefef; */
}

.vntd-social-icons .socials{
    width: auto;
    left:30px;
    position: relative;
    margin-top:10px;
}

.vntd-social-icons a.social {
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 14px;
    border-radius: 100%;
    color:white;
    opacity: .5;
    background:rgba(0,0,0,0.4);
    display: inline-block;
    margin-right: 8px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.vntd-social-icons a.social:hover{
    opacity: 1;
}