@font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 400;
    src: local('Titillium Web'), local('Titillium Web'),
        url('../fonts/titilliumWeb-Light.ttf') format('truetype')
}

body{
   font-family: 'Titillium Web',sans-serif !important;
}

.padding20 {
    padding: 20px !important;
}

.barraVideo {
    height: 300px !important;
        line-height: 300px;

}

.colorPrimary {
    color: #48829a !important;
   
}
.m-t-30 {
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 90px;
    padding-bottom: 40px;
}
.video {
    height: 300px
}
img:hover { 
    cursor: pointer;
  outline: 3px solid #48829a; 
} 
.gif {
    width: 100%
}
.bottoni img {
    width: 100%
}

.certificated1{
        display: none
    }
    .certificated2{
        display: inline
    }


@media screen and (max-width: 900px) {
    .certificated1{
        display: inline
    }
    .certificated2{
        display: none
    }
.barraVideo {
    height: 100% !important;
    line-height: 18px;

}
.m-t-30 {
    padding: 10px !important;
}
.video {
    padding: 15px !important;
    height: 200px !important
}
.testo {
    padding-left: 15px !important;
    padding-top: 15px !important;
    padding-right: 15px !important;
        padding-bottom: 30px !important;
}
img:hover { 
    cursor: pointer;
  outline: 0px; 
} 
img {
    padding-bottom: 15px;
}


}

